@charset "utf-8";
/* CSS Document */
/* These styles will automatically be appended to the screen's HTML by the JSToy script */
.jstoy.jst-pyramid > .jst-pyramid-segment-wrapper {
  position: relative;
  pointer-events: none;
}
.jstoy.jst-pyramid > .jst-pyramid-segment-wrapper > div.string {
  position: relative;
  display: inline-block;
  overflow: visible !important;
}
.jstoy.jst-pyramid > .jst-pyramid-segment-wrapper > div.string p {
  text-align: center !important;
}
.jstoy.jst-pyramid > .jst-pyramid-segment-wrapper > div {
  position: absolute;
  width: 50%;
  top: 0px;
  bottom: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  pointer-events: none;
}
.jstoy.jst-pyramid > .jst-pyramid-segment-wrapper > div > div {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  pointer-events: all !important;
}
.jstoy.jst-pyramid > .jst-pyramid-segment-wrapper > div > div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 100%;
  background-color: inherit;
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.jstoy.jst-pyramid > .jst-pyramid-segment-wrapper > div > div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
  /* Standard syntax (must be last) */
  pointer-events: none;
}
.jstoy.jst-pyramid > .jst-pyramid-segment-wrapper > div:nth-child(1) {
  left: 0%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.jstoy.jst-pyramid > .jst-pyramid-segment-wrapper > div:nth-child(1) > div {
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}
.jstoy.jst-pyramid > .jst-pyramid-segment-wrapper > div:nth-child(1) > div:before {
  -webkit-transform: skew(-50deg);
  transform: skew(-50deg);
}
.jstoy.jst-pyramid > .jst-pyramid-segment-wrapper > div:nth-child(2) {
  right: 0%;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
.jstoy.jst-pyramid > .jst-pyramid-segment-wrapper > div:nth-child(2) > div {
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
}
.jstoy.jst-pyramid > .jst-pyramid-segment-wrapper > div:nth-child(2) > div:before {
  -webkit-transform: skew(50deg);
  transform: skew(50deg);
}
.jstoy.jst-pyramid > .jst-pyramid-segment-wrapper:not(:first-child) > div > div {
  top: 10px;
}
