/*

    Name:       3024 day
    Author:     Jan T. Sott (http://github.com/idleberg)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

	Edited by Milton Plotkin on: 23rd February 2018.
*/

/* Fixes a bug causing cursor offset. */
.CodeMirror pre {
    white-space: pre-wrap !important;
    word-break: break-all !important;
    word-wrap: break-word !important;
	padding-bottom: 1px; /* Make the line height match the line height of PrettyPrinted <code> tags exactly. */
}

.CodeMirror {
	background: #f7f7f7;
	color: #3a3432;
	font-size: 16px;
	background-color: #eff0f1;
	height: 100%;
}

.cm-s-didasko .CodeMirror-sizer { padding: 1px 6px 0px 6px; /* Make the padding match the padding of PrettyPrinted <code> tags exactly. */ }
.cm-s-didasko div.CodeMirror-selected { background: #d6d5d4; }

.cm-s-didasko .CodeMirror-line::selection, .cm-s-didasko .CodeMirror-line > span::selection, .cm-s-didasko .CodeMirror-line > span > span::selection { background: #d6d5d4; }
.cm-s-didasko .CodeMirror-line::-moz-selection, .cm-s-didasko .CodeMirror-line > span::-moz-selection, .cm-s-didasko .CodeMirror-line > span > span::selection { background: #d9d9d9; }

.cm-s-didasko .CodeMirror-gutters { background: #f7f7f7; border-right: 0px; }
.cm-s-didasko .CodeMirror-guttermarker { color: #008; }
.cm-s-didasko .CodeMirror-guttermarker-subtle { color: #807d7c; }
.cm-s-didasko .CodeMirror-linenumber { color: #807d7c; }


.cm-s-didasko span.cm-comment { color: #080; }
.cm-s-didasko span.cm-atom { color: #a16a94; }
.cm-s-didasko span.cm-number { color: #a16a94; }

.cm-s-didasko span.cm-property, .cm-s-didasko span.cm-attribute { color: #f00; }
.cm-s-didasko span.cm-keyword { color: #008; }
.cm-s-didasko span.cm-string { color: #808; }

.cm-s-didasko span.cm-variable { color: #f00; }
.cm-s-didasko span.cm-variable-2 { color: #01a0e4; }
.cm-s-didasko span.cm-def { color: #e8bbd0; }
.cm-s-didasko span.cm-bracket { color: #3a3432; }
.cm-s-didasko span.cm-tag { color: #008; }
.cm-s-didasko span.cm-link { color: #a16a94; }
/*.cm-s-didasko span.cm-error { background: #008; color: #5c5855; }*/
/*.cm-invalidchar {display: none !important;}*/

.cm-s-didasko .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-didasko .CodeMirror-matchingbracket { text-decoration: underline; color: #a16a94 !important; }
