@charset "utf-8";

/* Ensure the #Stage uses relative positioning (need to override the CSS provided). */
#Stage {
	position: relative !important;
}

.epub {
	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(0,0,0,0.05);
}

.epub__inner {
	width: 1200px;
	/*box-shadow: 2px 2px rgba(0,0,0,0.25);*/
	box-shadow: -1px -1px #aaaaaa,
				-1px 1px #aaaaaa,
				1px -1px #aaaaaa,
				1px 1px #aaaaaa,
				3px 3px rgba(0,0,0,0.25);
}

/* Shows the loading gif if the HTML takes too long to load. */
.epub__content {
	position: relative;
	display: block;
	width: 1200px;
	height: 608px;

	background-color: white;
}

.epub__content::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("epub-preloader.gif");
}

.epub__banner {
	position: relative;
	background-color: #0c3857;
	padding: 20px 30px;
	/*font-family: arimo, Arial, Helvetica, sans-serif;*/
	font-family: Arial, Helvetica, sans-serif; /* Arimo not used for the banner due the time it takes for it to load */
	width: 1200px;
	height: 102px;
	box-sizing: border-box;
}

.epub__banner-title {
	font-size: 26px;
	margin: 0;
	color: #ffffff;
	font-weight: normal;
}

.epub__banner-subtitle {
	font-size: 18px;
	margin: 0;
	margin-top: 10px;
	color: #42c4f1;
	font-weight: normal;
}

.epub__banner-img {
	position: absolute;
	top: 17px;
	right: 30px;
}