// out: styles.css, compress: true, sourceMap: false

// EPUB cover page (designed to resemble our Adapt v4 layout)
// ----------------------------------------------------------
// Inherits all of Adapt's styles from chapter1/adapt.css for consistency.
// Specify cover page specific overrides here.

@block-padding-ver: 1.25rem * 2;

#wrapper {
    padding-top: 0;
}

.block__inner {
    padding-top: @block-padding-ver;
    padding-bottom: @block-padding-ver;
}

// Cover
// ----------------------------
.block--cover .block__inner {
    padding-top: (@block-padding-ver / 2);
}

.cover-cover {
    &__img.--med {display: block;}
    &__img.--sml {display: none;}
    @media (max-width:32.5rem){
        &__img.--med {display: none;}
        &__img.--sml {display: block;}
    }
}

// Overview
// ----------------------------
.cover-overview {
    margin-top: (@block-padding-ver / 2);

    &__controls {
        margin-top: (@block-padding-ver / 1.5);

        .btn-text {
            display: block;
            margin: auto;
        }
    }
}

// Authors
// ----------------------------
.cover-authors {

    &__title {
        font-size: 1.8rem;
    }

    &__item {
        margin-top: @block-padding-ver;
    }

    &__item-title {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        font-weight: 500;
    }

    &__item-img {
        float: right;
        margin-left: @block-padding-ver;
        margin-bottom: @block-padding-ver/2;

        width: 120px;

        img {
            width: auto;
        }
    }
}

/*body {
    font-size: 16px;
}

.fullpage {
    margin: 0;
}

// BLOCKS
.block__inner {
    max-width: 56.25rem;
    margin: auto;
    padding: 0rem 1.25rem 4rem 1.25rem;
}

// COVER
.cover {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    padding: 30px;
}

.cover-page {
    max-width: calc(100vw - 60px);
    max-height: calc(100vh - 60px);
}*/