/************************************************************************************************/
/* FILE HAS MODIFIED FROM ORIGINAL VERSION 														*/
/* Original version acquired from https://github.com/google/code-prettify on: December 5th 2017	*/
/* Script last modified on: December 5th 2017 													*/
/************************************************************************************************/

.pln {
    color: #000
}
@media screen {
    .str {
        color: #ce7b00;
    }
	/* Custom: Input/Output Stream */
	.stm {
		color: #009900;
		font-style: italic;
	}
	/* Custom: Class name */
	.cls {
		color: #000;
		font-weight: bold;
	}
    .kwd {
        color: #0000e6;
    }
    .com {
        color: #800;
    }
    .typ {
        color: #000;
		/*font-weight: bold;*/
    }
    .lit {
        color: #066;
    }
    .clo,
    .opn,
    .pun {
        color: #660;
    }
    .tag {
        color: #008;
    }
    .atn {
        color: #606;
    }
    .atv {
        color: #080;
    }
    .dec,
    .var {
        color: #606;
    }
    .fun {
        /*color: red;*/
		color: #000;
		font-weight: bold;
		/*font-style: italic;*/
    }
	
	.lang-html .com {
		color: #080;
	}
	.lang-html .atn {
		color: #f00;
	}
	.lang-html .atv {
		color: #606;
	}
	
	.lang-html .dec {
		color: #000;
	}
	
	.lang-css .pun {
		color: #000;
	}
	
	.lang-css .property {
		/*color: #8080c0;*/
		color: #6565a7;
	}
	
	.lang-css .selector {
		color: #008;
	}
	
	.lang-css .selector.selectorClass {
		color: #f00;
	}
	
	.lang-css .selectorId {
		color: #0080ff;
	}
}
@media print,
projection {
    .kwd,
    .tag,
    .typ {
        font-weight: 700
    }
	.typ {
		font-weight: bold;
	}
    .str {
        color: #060
    }
    .kwd {
        color: #006
    }
    .com {
        color: #600;
        font-style: italic
    }
    .typ {
        color: #404
    }
    .lit {
        color: #044
    }
    .clo,
    .opn,
    .pun {
        color: #440
    }
    .tag {
        color: #006
    }
    .atn {
        color: #404
    }
    .atv {
        color: #060
    }
}
pre.prettyprint {
    padding: 2px;
    border: 1px solid #888
}
ol.linenums {
    margin-top: 0;
    margin-bottom: 0
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none
}
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    background: #eee
}